@import "tailwindcss";

:root {
  --bg-main: #05070B;
  --bg-elevated: #0C1016;
  --accent-green: #B6FF2C;
  --accent-green-soft: #8EE522;
  --text-primary: #FFFFFF;
  --text-secondary: #A5B1C5;
  --border-soft: #1C2430;
  --cta-yellow: #B6FF2C;

  --background: var(--bg-main);
  --foreground: var(--text-secondary);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--bg-main);
  color: var(--text-secondary);
  font-family: Arial, Helvetica, sans-serif;
}
